<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div th:switch="${categories}">
  <h2 th:case="null">No category found!</h2>
  <div th:case="*">
    <h2>category</h2>
    <table>
      <thead>
      <tr>
        <th>Id</th>
        <th>category name</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="category : ${categories}">
        <td th:text="${category.id}"></td>
        <td th:text="${category.name}"></td>
        <td><a th:href="@{category-update/{id}(id=${category.id})}">Edit</a></td>
        <td><a th:href="@{category-delete/{id}(id=${category.id})}">Delete</a></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</body>
</html>